Company XYZ is an e-commerce site that sells hand-made clothes.
You have to build a model that predicts whether a user has a high probability of using the site to perform some illegal activity or not. This is a super common task for data scientists.
You only have information about the user first transaction on the site and based on that you have to make your classification ("fraud/no fraud").
These are the tasks you are asked to do:

- For each user, determine her country based on the numeric IP address.
- Build a model to predict whether an activity is fraudulent or not. Explain how different assumptions about the cost of false positives vs false negatives would impact the model.
- Your boss is a bit worried about using a model she doesn't understand for something as important as fraud detection. How would you explain her how the model is making the predictions? Not from a mathematical perspective (she couldn't care less about that), but from a user perspective. What kinds of users are more likely to be classified as at risk? What are their characteristics?
- Let's say you now have this model which can be used live to predict in real time if an activity is fraudulent or not. From a product perspective, how would you use it? That is,what kind of different user experiences would you build based on the model output?

In [1]:
ls Fraud/

Fraud_Data.csv            IpAddress_to_Country.csv

In [2]:
import pandas as pd

In [3]:
fraud = pd.read_csv('./Fraud/Fraud_Data.csv', iterator=True, chunksize=1000)

In [4]:
fraud.head()

AttributeError: 'TextFileReader' object has no attribute 'head'

In [ ]:
fraud.dtypes

In [70]:
ip_country = pd.read_csv('./Fraud/IpAddress_to_Country.csv')

In [71]:
ip_country.dtypes

lower_bound_ip_address    float64
upper_bound_ip_address      int64
country                    object
dtype: object

In [72]:
ip_country.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [73]:
ip_country['country'] = ip_country['country'].str()

TypeError: 'StringMethods' object is not callable

# For each user, determine her country based on the numeric IP address.

## The fraud csv is a little too big, I should do chunking to reduce the time it takes to perform analysis if I need it to run through a model.

In [95]:
def get_country_from_ip(ip_row):
    try:
        temp = ip_country[(ip_row > ip_country['lower_bound_ip_address']) & (ip_row < ip_country['upper_bound_ip_address'])]['country']
        return(temp.values[0])
    except:
        return('Nowhere')

In [ ]:
# chunks = []
# for chunk in fraud:
#     chunks.append( chunk['ip_address'].apply(get_country_from_ip))
# full_ip_countries = pd.concat(chunks,ignore_index=True)

In [ ]:
# f_chunk = pd.read_csv('Check1_900.csv', sep='\t', iterator=True, chunksize=1000)
# print tp
# #<pandas.io.parsers.TextFileReader object at 0x00000000150E0048>
# df = pd.concat(tp, ignore_index=True)

### Maybe lets just look at a smaller set of data and have a proof of concept-- The sorting of ip is too time complex, e.g. it takes forever to run.

In [20]:
fraud = pd.read_csv('./Fraud/Fraud_Data.csv')
fraud.shape

(151112, 11)

In [21]:
# so lets only get an eigth of the data to test on
fraud_eighth= fraud.iloc[0:fraud.shape[0]//8,:].copy()

In [98]:
fraud_eighth['ip_country'] = fraud_eighth['ip_address'].apply(lambda x: get_country_from_ip(x))

In [97]:
val= []
for ip_ad in fraud_eighth['ip_address'][0:10]:
    temp = get_country_from_ip(ip_ad)
    print(temp)

Japan
United States
United States
Nowhere
United States
Canada
Nowhere
United States
China
United States

In [99]:
fraud_eighth.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,ip_country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,Nowhere
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States

In [100]:
fraud_eighth['ip+country'].

SyntaxError: invalid syntax (<ipython-input-100-cb8409cc57a8>, line 1)